@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Roboto Mono", monospace;
    margin: 0px;padding: 0px;box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
}
/* .navbar-brand{
    background: linear-gradient(orange,white,green);
    border-radius: 50%;
    padding: 10px;
    border: 2px solid rgb(101, 9, 177);
} */


.navbar-nav{
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(32, 32, 32);
    padding: 8px 0px;
}
.nav-item{
    margin: 0px 20px;
    transition: all 1s;
}
.nav-item:hover{
    transform: rotateY(180deg);
    background-color: hsl(46, 80%, 56%);
    border-radius: 50%;
}


   

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background-color: #ee0707;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(238, 20, 191);
}

.card{
    box-shadow: none;
    transition:all 0.5s linear 0.10s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.right_part ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-icon:hover{
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    transition: .8s ease-in-out;
}
/* .navigation{
    margin: 0px 30px;
} */
.footer-social-icon,.navigation{
    transition: all 1s;
}
.footer-social-icon:hover,.navigation:hover{
    transform: translateY(-10px);

}




.my-skills,.about-me{
    display: flex;
    flex-direction: row-reverse;
}

/* star code start */
.ratings{
    color: #ffe400;
}
.ratings input{
    display: none;
}
.ratings label{
    margin: 0px 7px;
}
.ratings input + label{
    font-size: 30px;
    cursor: pointer;
    text-shadow: 1px 1px 0 #ffe400;
}
.ratings input:checked + label ~ label{
    color: #838383;
}
.ratings label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* star code ends */
